
body{
  background-color: rgba(151,133,133,0.47);
  margin: 0px;
  padding: 0px;
  color: #40200E;
  font-family: 'Montserrat', sans-serif;

}
.moon{
  margin-left: -15px;
  margin-top: -5px;
}
.moon:hover{
  transform: rotate(45deg);
  transition-duration: 0.5s;
}
.logo a{
    line-height: 0px;
}
.logo a:after {
    background-color: #C98181 ;
    display: block;
    content: none;
    height: 0px;
    width: 0%;
    left: 0%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.logo a:hover:after,
a:focus:after {
    width: 100%;
}

.header{
  background: url(girl.jpg) no-repeat center top / cover;
  height: 600px;
  background-size: cover;
}
.header2{
  height: 70px;
  width: 100%;
  background: rgba(82, 46, 46, 0.45);
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;

}
.menu{
  padding-left: 130px;
  font-weight: 500;
  font-size: 19px;
}
.body_nav{
  display: flex;
  list-style-type: none;
  margin-top: 0px;
}
ul {
  color: #FFF6F1;
}
a{
  text-decoration: none;
  color: #40200E;
  list-style-type: none;
}
li{
  list-style-type: none;
}

.body_nav_subnav{
  display: none;
  position: absolute;
  padding-left: 0px;
  padding-top: 20px;
}
.body_nav_subnav_2{
    display: none;
    position: absolute;
    padding-left: 95%;
    margin-top: -11%;
}
.body_nav_subnav_class{
    display: none;
    position: absolute;
    padding-left: 95%;
    margin-top: -20%;
}
.body_nav > ul li{
  position: relative;
  padding-left: 130px;

}
.body_nav li ul{
  position: absolute;

}
.body_nav li:hover>ul{
  display: block;
}
.body_nav li ul li{
  padding: 15px;
  background-color: rgba(82,46,46,0.84);
  font-size: 15px;
  font-weight: 400;
}
.stringsearch input{
  border-width: 0px;
  background: #F9ECEC;
  border-radius: 20px;
  margin-top: -5px;
  width: 250px;
  height: 28px;
  margin-left: -30px;
}
.search{
  margin-left: -80px;
}
a {
    display: inline-block;
    color:#FFF6F1;
    line-height: 1;
    cursor: pointer;
    position:relative;
}
a:after {
    background-color: #FFF6F1;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
a:hover:after,
a:focus:after {
    width: 100%;
}

.header_text{
	text-shadow: 1px 1px 0px black;
	padding-top: 40px;
	font-size: 31px;
	font-weight: bold;
	width: 60%


}
.header_advantage{
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	font-weight: bold;
}
.header_advantage_block{
	width: 45%

}
.header_advantage_img{
	height: 100px;
	width: 20%;
	margin-right: auto;
    margin-left: auto;
	

}
.header_advantage_block p{
	text-align: center;
}
/*2 block*/
.block2{
  color: #FFF6F1;
}
.advantage_SUPPORT{
	margin-top:50px;
	font-weight: bolder; 
	text-align: center;
	font-size: 20px;
}
.header_advantage_points{
	display: flex;
	justify-content: space-between;
}
.section_block{
	margin-top: 40px;
	width: 23%;
}
.section_block_img{
    height: 80px;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}
.section_block p{
	text-align: center;
}
/*FOOTER*/
.footer{
  background: rgba(82,46,46,0.45);
  margin-top: 3%;
  color: #FFF6F1;
}
.footer_wrap{
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  align-items: center;
}
.footer_wrap_block{
  font-size: 14px;
  font-weight: 300;
  margin-top: 11px;
}
.footer_wrap_block_title{
  font-weight: bold;
}

.finhelp{
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
/**/
}
/**/
.sd{
  margin-top:100px;
  margin-bottom: 50px;  
}
#slider { 
    
  text-align: center;
    top: 10px;
}

#slider{ 
  margin: 0 auto;
}

#slides article{ 
  width: 20%;
  float: left;
}

#slides .image{
  width: 500%;
  line-height: 0;
}

#overflow{ 
  width: 100%;
  overflow: hidden;
}

article img{ 
  width: 50%;
}

#desktop:checked ~ #slider{ 
  max-width: 960px;
  height: 500px; 
}


#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
  background: url('prev.png') no-repeat; 
  float: left;
  margin: -50px 0 0 100px;
  display: block;
  transform: scale(0.7);
  height: 68px;
  width: 68px;
}


#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
  background: url('next.png') no-repeat; 
  float: right;
  margin: -50px 100px 0 0; 
  display: block;
  transform: scale(0.7);
  height: 68px;
  width: 68px;
}

label, a{ 
  cursor: pointer;
}

.all input{ 
  display: none;
}


#switch1:checked ~ #slides .image{
  margin-left: 0;
}

#switch2:checked ~ #slides .image{
  margin-left: -100%;
}

#switch3:checked ~ #slides .image{
  margin-left: -200%;
}

#switch4:checked ~ #slides .image{
  margin-left: -300%;
}

#switch5:checked ~ #slides .image{
  margin-left: -400%;
}

#controls{ 
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#slides .image{ 
  transition: all 800ms;
}

#controls label:hover{ 
  opacity: 0.6;
}

#controls label{ 
  transition: opacity 0.2s ease-out;
}
.feedback{
  align-items: center;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color:#FFF6F1; 

}
/**/
.popup{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  font-family: 'Montserrat', sans-serif;
}
.close{
  color: #aaa;
  font-size: 28px;
  margin-left: auto;
}
.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.popup-header{
  /*background-color: #FFE9E9;*/
  color: #40200E;
  padding: 3px 16px;
  display: flex;
  padding-left: 5%;
  
}
.popup-body{
  /*background-color: #FFE9E9;*/
  padding:  3px 16px;
  font-size: 15px;
  color: #40200E;
  padding-left: 5%;
  padding-right: 5%;
}
/*.popup-footer{
  padding:  3px 16px;
  
  color: white;
  
}*/
form{
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    color: #40200E;
    font-size: 15px;
}
.phone{
  padding: 5px 15px;
  margin-right:2%; 
  border: solid 1px;
  color: #40200E;
  font-size: 15px;

}
.submit{
  background-color: #fff;
  padding: 2px 8px;
  border: solid 1px;
}
.popup-content{
  position: relative;
  background-color:  #FFE9E9;
  background: linear-gradient(to top, #FFE9E9, #ffffff);
  padding: 0;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetor;
  animation-direction: 0.4s;
}
@keyframes animatetor{
  from{
    top: -300px;
    opacity: 0
  }
  to{
    top: 0;
    opacity: 1
  }
}
/*адаптивность*/
@media screen and (max-width: 1024px){
.wrap {
  max-width: 960px;
}
.menu{
  padding-left: 40px;
}
.wrapper{
  max-width: 960px;
}
.footer_wrap {
    max-width: 960px;}
.body_nav_subnav{
  margin-left: -110px;
  z-index: 1;
}
.body_nav_subnav_2{
    margin-left: -147%;
}
.body_nav_subnav_class{
    margin-left: -160%;
}
.body_nav li ul li{
  padding: 12px;
  font-size: 13px;
  }
}

@media screen and (max-width: 768px){

.wrap {
  max-width: 700px;}
.wrapper{
  max-width: 700px;
}
.search {
  margin-left: -105px;}
.stringsearch input {
  width: 180px;
  margin-left: -30px;}
.moon {
  margin-left: -45px;}
.body_nav {
  padding-left: 5px;}
.menu{
  padding-left: 7%;
  font-size: 18px;}

.header_text {
  font-size: 22px;}
.header_advantage_img{
  transform: scale(0.8);
  width: 35%;}
.header_advantage {
  font-size: 20px;}
.advantage_SUPPORT {
  font-size: 18px;}
.section_block_img {
  width: 40%;}
.section_block {
  font-size: 15px;}
.footer_wrap{
  max-width: 700px;}
.footer_wrap_block {
  font-size: 12px;}

.body_nav_subnav{
  margin-left: -110px;
  z-index: 1;
}
.body_nav_subnav_2{
    margin-left: -147%;
}
.body_nav_subnav_class{
    margin-left: -160%;
}
.body_nav li ul li{
  padding: 12px;
  font-size: 13px;
}
}

@media screen and (max-width: 568px){
 .wrap {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;}
  .logo{
  transform: scale(0.8);
  margin-left: -30px;
  margin-right: 5px;
}
.search{
  transform: scale(0.9);
  margin-right: -18px;
}
.moon{
  transform: scale(0.9);
  margin-left: -10px;
}

.stringsearch input {
    width: 120px;
    margin-left: 0px;
    height: 25px;
}
.menu{
  font-size: 15px;
  padding-left: 15px;
}
.advantage_SUPPORT {
  font-size: 15px;
  margin-top: 25px;}

.header_text {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;}
.header_advantage_img{
  transform: scale(0.8);
  }

.header_advantage {
  font-size: 17px;
  padding-top: 25px;
}
.header_advantage_img{
  transform: scale(0.7);
  width: 50%;
}

.advantage_SUPPORT {
  font-size: 15px;
  margin-top: 25px;}
.section_block_img {
    align-items: center;
    text-align: center;
}
.section_block {
    font-size: 13px;
    width: 23%;
    width: 100%;
}
.footer_wrap {
    max-width: 520px;
    }
.footer_wrap_block {
  font-size: 11px;}
.close{
  font-size: 18px;
}
.popup-body{
  font-size: 13px;
}
.popup-header h2{
  font-size: 15px;
}
form{
    font-size: 11px;
    flex-wrap: wrap;
}
.phone{
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  margin-bottom: 3px;

}
.popup-content{
  position: relative;
  background-color:  #FFE9E9;
  background: linear-gradient(to top, #FFE9E9, #ffffff);
  padding: 0;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetor;
  animation-direction: 0.4s;
}
#desktop:checked ~ #slider{
  height: 300px; 
}


#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
  margin: -30px 0 0 20px; 
  transform: scale(0.5);
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
  margin: -30px 20px 0 0 ; 
  transform: scale(0.5);
}
.feedback{
  font-size: 14px;

}

}
 



@media screen and (max-width: 320px){
.wrap {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;}
.header2 {
  height:  100px;
}
.logo{
  transform: scale(0.6);
  margin-left: -30px;
  margin-right: 5px;
}
.search{
  transform: scale(0.7);
  margin-right: -18px;

}
.moon{
  transform: scale(0.8);
  
 
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    padding-top: 5px;
}
.stringsearch input {
    width: 100px;
    margin-left: 0px;
    margin-right: 15px;
    height: 25px;
}
.body_nav{
  padding-left: 30px;
  
}
.menu{
  padding-left: 20px;
  font-size: 16px;
}
.header_advantage_points {
    display: block}
.section_block {
  font-size: 15px;}
.header_text {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 17px;}
.header_advantage_img{
  transform: scale(0.6);
  text-align: center;}
.header_advantage_block {
     width: 100%;
}
.header_advantage {
  font-size: 14px;
  display: block;
  padding-top: 25px;
}
.advantage_SUPPORT {
  font-size: 13px;
margin-top: 25px;}
.section_block_img {
    align-items: center;
    text-align: center;
}
.section_block {
    font-size: 13px;
    width: 23%;
    width: 100%;
}
.header_advantage_points {
    display: block}
.section_block {
  font-size: 15px;}
.footer_wrap {
    max-width: 280px;
    flex-wrap: wrap;}
.footer_wrap_block {
  font-size: 11px;}

  /*popup*/
.close{
  font-size: 18px;
}
.popup-body{
  font-size: 13px;
}
.popup-header h2{
  font-size: 15px;
}
form{
    font-size: 11px;
    flex-wrap: wrap;
}
.phone{
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  margin-bottom: 3px;

}
.popup-content{
  position: relative;
  background-color:  #FFE9E9;
  background: linear-gradient(to top, #FFE9E9, #ffffff);
  padding: 0;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetor;
  animation-direction: 0.4s;
}
.body_nav_subnav{
  display: none;
  margin-left: 0px;
  z-index: 1;
}
.body_nav_subnav_2{
    margin-left: 0px;
}
.body_nav_subnav_class{
    margin-left: 0px;
}
.body_nav li ul li{
  padding: 7px;
  font-size: 10px;
}
 #desktop:checked ~ #slider{
  height: 200px; 
}


#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
  margin: -30px 0 0 20px; 
  transform: scale(0.5);
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
  margin: -30px 20px 0 0 ; 
  transform: scale(0.5);
}
.feedback{
  font-size: 14px;

}